apiVersion: apps/v1
kind: Deployment
metadata:
  name: raghu-backend
  labels:
    app: raghu-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: raghu-backend
  template:
    metadata:
      labels:
        app: raghu-backend
    spec:
      containers:
      - name: raghu-backend
        image: <+artifact.image>
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
